:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --bg-black-700: #000000;
}
body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #0f0f0f;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --bg-black-700: #ffffff;
}
body {
  line-height: 1.5;
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}
/* home section css start*/
ul {
  list-style: none;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#project {
  margin-bottom: 10%;
}
#projects_div {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-black-900);
}
.about_the_section {
  margin-left: 2%;
}
.main {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-bottom: 2%;
  color: var(--text-black-900);
}
.picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.picture > div:first-child {
  width: 90%;
  padding: 3%;
  background-color: rgb(42, 40, 40);
  border-radius: 10px 10px 0 0;
}
.picture > div:first-child > div > img {
  width: 100%;
}
.picture > div:nth-child(2) {
  width: 100%;
  height: 12px;
  background-color: #d0d0d0;
  border-radius: 3px 3px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.picture > div:nth-child(3) {
  width: 100%;
  height: 10px;
  background-color: #616163;
  border-radius: 0 0 100% 100%;
}
.project_description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  letter-spacing: 2px;
}
.project_description > div:first-child {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.project_description > div:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
}
.project_description > div:nth-child(3) {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.project_description > div:nth-child(3) > button {
  padding: 10px 20px;
  color: var(--text-black-900);
  background-color: var(--skin-color);
  border: none;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.project_description > div:nth-child(3) > button:hover {
  color: white;
  background-color: limegreen;
}

@media all and (min-width: 600px) and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  .picture {
    width: 70%;
    margin: auto;
  }
  .project_description > div:first-child {
    text-align: center;
    margin-top: 5%;
  }
  .project_description > div:nth-child(2) {
    align-items: center;
    text-align: center;
  }
  .project_description > div:nth-child(3) {
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
  }
  .project_description > div:nth-child(3) > button {
    font-size: 15px;
  }
}

@media all and (min-width: 0px) and (max-width: 599px) {
  #project {
    width: 100%;
    margin: auto;
    margin-top: 10%;
    margin-right: 10%;
  }
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }
  #projects_div {
    width: 100%;
    margin: auto;
    align-items: center;
  }
  .picture {
    width: 100%;
    margin: auto;
  }
  .project_description > div:first-child {
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  .project_description > div:nth-child(2) {
    align-items: center;
    text-align: center;
    font-size: 13px;
  }
  .project_description > div:nth-child(3) {
    width: 30%;
    margin: auto;
    justify-content: space-evenly;
  }
  .project_description > div:nth-child(3) > button {
    font-size: 14px;
    padding: 10px 30px;
    font-weight: 500;
  }
}
