body {
  line-height: 1.5;
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}
/* home section css start*/
ul {
  list-style: none;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.main-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 100%;
  margin: auto;
  padding: 10px;
}

.container {
  width: 80%;
  margin: auto;
  padding: 5px;
}

/* .main-content:nth-child(1) {
  width: 100%;
  background: url(../components/download.png)
    no-repeat 0px 204px scroll #fbfbfb;
  border-bottom: 1px solid #ca3939;
  background-position: center bottom;
  padding: 0px 0px;
  position: relative;
} */

.main-content:nth-child(2) {
  width: 100%;
  background-color: f6f6f6;
}

.main-content:nth-child(4) {
  width: 100%;
  background-color: f6f6f6;
}
.main-content:nth-child(3) {
  width: 100%;
  background-color: 111111;
}

.main-content:nth-child(7) {
  width: 100%;
  background: url(https://cdn4.tcsion.com/dotcom/ICMP/images/footer.jpg)
    no-repeat 0px 204px scroll #262626;
  width: 100%;
  border-bottom: 1px dashed #3b3b3b;
  color: #efefef;
  background-position: center bottom;
  padding: 0px 0px;
  position: relative;
}

/* ////////////     Navbar    /////////// */

.LOGO > i {
  font-size: 1.2rem;
  margin-left: -80%;
  color: var(--skin-color);
  font-family: "Roboto", sans-serif;
}
.controls {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1%;
  text-align: center;
  background-color: var(--bg-black-700);
  color: var(--bg-black-50);
  position: fixed;
  top: 0;
  z-index: 10;
  border-right: var(--bg-black-50);
  transition: all 0.3s ease;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}
.control:hover {
  background-color: var(--skin-color);
}
.control a {
  color: var(--color-grey-2);
}
.controls .control a i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}
.controls .active-btn {
  background-color: var(--skin-color);
  transition: all 0.4s ease-in-out;
}

.controls .active-btn a i {
  color: var(--text-black-900);
  font-family: "Roboto", sans-serif;
}

.fa-envelope-open {
  color: white;
}
.btnResume {
  color: var(--color-grey-2);
}
.btnResume i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
}
.btnResume:hover {
  background-color: var(--skin-color);
}

/* //////////////////////  Home ////////////////////////// */

#home {
  height: 750px;
  align-items: center;
}

.intr {
  width: 100%;
  margin-top: 10%;
  gap: 5%;
  display: flex;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.home-info {
  width: 75%;
  text-align: center;
}

h3.hello {
  margin: 15px 0;
  font-size: 40px;
  text-align: center;
}
.name {
  color: var(--skin-color);
  text-align: center;
}

.home-info p {
  margin-bottom: 70px;
  font-size: 24px;
  color: var(--text-black-900);
  text-align: center;
  margin-top: 5%;
}
.btn {
  font-size: 15px;
  font-weight: 450;
  padding: 15px 35px;
  margin-top: 5px;
  color: #151515;
  background-color: ffffff;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
  border: 2px solid black;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  letter-spacing: 0.5;
}
.btn:hover {
  color: white;
  border: none;
  background-color: var(--skin-color);
  transform: scale(1.05);
}

.pad-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.home-img img {
  height: 370px;
  margin: auto;
  margin-top: 5%;
  border: 2px solid var(--skin-color);
}
.home-img {
  position: relative;
}

.hidden {
  display: none !important;
}

/* ///////////////////////////////////////////           About           //////////////////////////////////////////////////// */

#about {
  width: 100%;
}
.section-title {
  text-align: center;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 80px;
  margin-top: 10%;
}
.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: var(--text-black-900);
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 15%;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  text-align: center;
}

.about,
.about-content {
  flex: 0 0 100%;
  align-items: center;
  max-width: 100%;
}
.about-text {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
}
.about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
  letter-spacing: 0.3;
}
.about-text h3 span {
  color: var(--skin-color);
}

.about-text p {
  width: 70%;
  margin: auto;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 3%;
  color: var(--text-black-900);
}

/* ///////////////////////////////////////////           Education           //////////////////////////////////////////////////// */
.education {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}
.title {
  text-align: center;
  margin-bottom: 5%;
  color: var(--skin-color);
}

.buttons .fa {
  margin-left: 10px;
}
.about .about-content .education,
.about .about-content .education2 {
  flex: 0 0 50%;
  width: 100%;
  max-width: 50%;
  margin-top: 20%;
  padding: 10px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.shadow-dark {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.timeline-item:last-child {
  padding-bottom: 0;
}
.timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
  height: 100%;
}
.circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}
.timeline-date {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-900);
}
.fa {
  margin-right: 5px;
}
.timeline-title {
  display: block;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.timeline-text {
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
  color: var(--text-black-900);
}
.second {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 19px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.masai-1 {
  display: flex;
  gap: 20px;
}
.li {
  margin-bottom: 5px;
  color: var(--text-black-900);
}

/* ///////////////////////////////////////////           Skills           //////////////////////////////////////////////////// */

#skills h2 {
  color: var(--skin-color);
}
.personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 20px;
}
.personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.info-item p {
  letter-spacing: 0.2;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.info-item p a {
  font-weight: 400;
  color: var(--bg-black-700);
  margin-left: 4px;
  display: inline-block;
}
.info-item p a .fa {
  margin-right: 5px;
  color: var(--text-black-900);
}
.personal-info .buttons {
  margin-top: 30px;
}
.personal-info .buttons .btn {
  margin-top: 10px;
  margin-right: 15px;
  letter-spacing: 1px;
}
.personal-info .buttons .btn1 {
  padding: 15px 40px;
}
.skill-item {
  max-width: 100%;
  flex: 0 0 100%;
}
.skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.skill-item .skill-percent {
  position: absolute;
  top: -40px;
  right: 0;
  height: 100%;
  font-weight: 400;
  line-height: 40px;
  color: var(--text-black-900);
}

/* ///////////////////////////////////////////           Service            //////////////////////////////////////////////////// */

.service-item-main .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
.service-item-main:hover .icon {
  background: var(--skin-color);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.service-item-main:hover .icon .fa {
  font-size: 25px;
  color: #ffff;
  margin: auto;
}
.service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;

  max-width: 33.33%;
}
.service-item-main {
  color: white;
  background-color: 222222;
  border: none;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.35 ease;
}
.service-item-main:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  background-color: var(--skin-color);
}
.service-item-main h4 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: capitalize;
}
.service-item-main p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.4;
  color: #ffff;
}
#skillsdesc {
  color: white;
}
.service {
  padding-bottom: 40px;
}

/* ///////////////////////////////////////////           Projects            //////////////////////////////////////////////////// */

#project .section-title {
  margin-top: 10%;
}

#projects_div {
  width: 100%;
  margin: auto;
  margin-top: -10%;
  display: flex;
  gap: 0;
  flex-direction: column;
}

.main {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button-project {
  margin: auto;
  display: flex;
  gap: 15px;
  text-align: center;
  max-width: 30%;
  margin-top: 10px;
}
.button-project .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  text-align: center;
}
.button-project .icon .fa {
  font-size: 30px;
  line-height: 40px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.project-item:hover .icon {
  background: var(--skin-color);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
}
.project-item:hover .icon .fa {
  font-size: 25px;
  color: #ffff;
  margin: auto;
}

.project-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.project-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}
.project-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
  transition: 0.5s;
}
.project-item-main {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.project-item:hover {
  transform: scale(1.1);
  z-index: 0;
}
.project-img img {
  width: 100%;
}
.info-project-h4 {
  margin: auto;
  max-width: 65%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.info-project-h41 {
  margin: auto;
  max-width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.info-project-h4 h4,
.info-project-h41 h4 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.service-item-main p {
  font-size: 15px;
  color: var(--text-black-900);
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.4;
}

/* ///////////////////////////////////////////           Contact           //////////////////////////////////////////////////// */

#contact h2 {
  color: fa5b0f;
}
#contactdetails {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
  margin: auto;
  text-align: center;
}
.contact-title {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-sub-title {
  color: white;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.9;
  margin-bottom: 60px;
}
.contact .contact-item-info {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-item-info .icon {
  display: inline-block;
}
.contact .contact-item-info .icon .fa {
  font-size: 30px;
  color: var(--skin-color);
}
.contact-item-info h4 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact-item-info p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: white;
}
.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.form-item {
  margin-bottom: 30px;
}
.form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: var(--bg-black-50);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease;
}
.form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
textarea.form-control {
  height: 140px;
}
.form-item .btn {
  height: 50px;
  padding: 0 50px;
  margin-left: 15px;
}

/* ///////////////////////////////////////// */

.copyright {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: 1a1a1a;
}

/* //////////////////////////////////////           Media Query / Responsiveness           ////////////////////////////////////////////// */

/* //////////////////////////////////////        Large Size   Media Query / Responsiveness           ////////////////////////////////////////////// */

@media (min-width: 720px) and (max-width: 1040px) {
  .LOGO > i {
    font-size: 1rem;
    margin-left: -50%;
  }
  .controls {
    width: 100%;
    margin: auto;
    gap: 5%;
    z-index: 10;

    height: 50px;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .controls .control {
    padding: 0.8rem;
    width: 5%;
  }

  .controls .control a i {
    font-size: 0.8rem;
  }

  .btnResume i {
    font-size: 0.8rem;
    margin-right: 80%;
  }

  .intr {
    width: 100%;
    margin-top: 10%;
    display: flex;
    gap: 0%;
  }

  #home {
    width: 100%;
    height: 750px;
  }

  .home-info {
    width: 90%;
    text-align: center;
  }

  h3.hello {
    font-size: 30px;
    text-align: center;
  }
  .name {
    color: var(--skin-color);
    text-align: center;
  }

  .home-info p {
    margin-bottom: 70px;
    font-size: 24px;
    color: var(--text-black-900);
    text-align: center;
    margin-top: 5%;
  }
  .btn {
    font-size: 15px;
    font-weight: 500;
    padding: 7px 25px;
    margin-top: 5px;
  }

  .home-img img {
    height: 250px;
    text-align: center;
  }
  .home-img {
    margin-right: 9%;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
  }

  .section-title h2::before {
    content: "";
    height: 4px;
    width: 40%;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    text-align: center;
    margin-left: -7%;
  }
}

/* //////////////////////////////////////      Small &  Midium Size   Media Query / Responsiveness           ////////////////////////////////////////////// */

@media screen and (max-width: 719px) {
  .controls {
    z-index: 10;
    width: 100%;
    height: 50px;
    gap: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .control div {
    gap: 1px;
  }
  .controls .control {
    width: 17%;
    height: 40px;
  }

  .controls .control a i {
    font-size: 1rem;
  }

  .intr {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-img img {
    height: 240px;
    text-align: center;
    margin: auto;
    border: 2px solid var(--skin-color);
  }
  .home-img {
    left: 0%;
    right: 100%;
    top: 0;
    text-align: center;
    position: relative;
  }

  .intr {
    width: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 0%;
  }

  #home {
    width: 100%;
    height: 870px;
  }

  .home-info {
    width: 90%;
    text-align: center;
    align-items: center;
  }

  h3.hello {
    font-size: 38px;
    text-align: center;
  }
  .name {
    color: var(--skin-color);
    text-align: center;
  }

  .home-info p {
    margin-bottom: 70px;
    font-size: 21px;
    color: var(--text-black-900);
    text-align: center;
    margin-top: 5%;
  }
  .btn {
    font-size: 15px;
    font-weight: 500;
    padding: 7px 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .section-title h2::before {
    content: "";
    height: 4px;
    width: 55%;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    text-align: center;
    margin-left: -2%;
  }

  #skills {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .tech {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0%;
    align-items: center;
    justify-content: center;
  }

  .service-item {
    flex: 0 0 33.33%;
    max-width: 100%;
  }

  .info-project-h4 {
    margin: auto;
    max-width: 65%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .info-project-h41 {
    margin: auto;
    max-width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .info-project-h41 h4,
  .info-project-h4 h4 {
    text-align: center;
  }

  #contactdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}


@media screen and (max-width: 600px) {
  #skills {
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .tech {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }

}

.position-relative {
  position: relative !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.display-1 {
  font-size: 7rem;
  font-weight: 900;
  line-height: 0.2;
}

@media (max-width: 1200px) {
  .display-1 {
    font-size: calc(2rem + 8.5vw);
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-white {
  color: #fff !important;
}

.position-absolute {
  font-weight: 900;
  position: absolute !important;
}

.text-primary {
  color: var(--skin-color) !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: var(--skin-color) !important;
}
